 /* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
 /* FONDO DE LA PAGINA*/

body{
   background-color:rgb(239, 224, 224);
}

/* estilos de header */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul{
    list-style-type: none;
    display: flex;
    gap: 0.5rem;
    padding-right: 1.5rem;
    color: black;
    font-size: 20px;
}

 /* ESTILO DE TITULO */

 h1{
    color: black; 
    text-align: center;
    font-size: 20px;
 }
 
   h2{
      color: black;
      font-family: AlgerianBookman Old Style;
      font-size: 20px;
   }

 /* ESTILO PARA PIE DE PAGINA*/
 footer {
    color: rgb(99, 96, 96);
    font-family: AlgerianBookman Old Style;
    font-size: 15px;
    list-style: none;
    

 }

 /*CREAR CUENTA Y CONTACTO*/
 form ol li {
    display: flex;
    flex-direction: column;
     text-align: center;
     list-style: none;
 }

section {
    height: 80vh;
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    align-content: center;
}

section div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



