 /* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
 /* FONDO DE LA PAGINA*/

body{
   background-color:rgb(207, 188, 188);
}
/* estilos mobile */
/* estilos de header */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul{
    list-style-type: none;
    color: whitesmoke;
    display: flex;
    gap: 0.5rem;
    padding-right: 1.5rem;
    color: rgb(222, 97, 139);
    font-family: AlgerianBookman Old Style;
    font-size: 20px;
}

 /* ESTILO DE TITULO */

 h1{
    color: black; 
    text-align: center;
    font-family: Lucida Handwriting;
    font-size: 15px;
    background-color: rgb(251, 100, 153);
 }
 
   h2{
      color: black;
      font-family: AlgerianBookman Old Style;
      font-size: 20px;
   }

 /* ESTILO PARA PIE DE PAGINA*/
 footer {
    color: rgb(139, 132, 132);
    font-family: AlgerianBookman Old Style;
    font-size: 15px;

 }

 /*CREAR CUENTA Y CONTACTO*/
 form ol li {
     text-align: center;
     list-style: none;
 }

 /* estilos de tablet */
@media (min-width: 600px){

}

/* estilos de desktop */
@media (min-width: 1024px) {
 
}
