// Fondo de pagina
 //IMPORT
 @use "utilidades/variables" as *;
 @use "utilidades/mixin" as *;


main{
    @include flex;

}


footer{
     @include flex
    
}


header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header ul {
    display: flex;
    list-style-type: none;
    gap: 0.5rem;
    padding-right: 1.5rem
    
}


main div img {
    @include medidas (100%,100%,$color-secundario);
    display: flex;
    flex-direction: row;
    object-position: center;
    margin: 50px;
    padding: 20px;
    
}

.footerp {
    h2 {
        font-size: large;
        margin: 20px;
    }
}
  

@media screen and (max-width: 600px){

    header{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-between;
    }
    
    main div img{
        display: flex;
        flex-direction: row;
        align-items: center;
     }   
   
     .footerp {
        flex-direction: column;
        padding: 20px;
        h2{
            font-size: large;
            color: $color-secundario;
            padding: 10px;
        }
     }
  
}


