// con parametros

@mixin medidas($width,$height, $color){
    width: $width;
    height: $height;
    color: $color;
}

// sin parametros
@mixin flex{
     display: flex;
     justify-content: center;
     align-items: center;
}

@mixin encabezados{
    text-align: center;
    background-color: rgb(225, 168, 177);
    margin: 30px;
}